.detes-table {
  width: fit-content;
  text-align: start;
  margin-bottom: 15px;
  margin-top: 27px;
}

.detes-table th {
  background: var(--accent-color);
  text-align: start;
  color: var(--background-color);
  text-shadow: 0 0 2px var(--background-color);
  padding: 5px;
  margin: 5px;
  border-bottom: 3px solid var(--background-color);
}

.detes-table td {
  color: var(--accent-color);
  text-shadow: 0 0 2px var(--accent-color);
  padding-left: 10px;
}
