/* .attribute-container {
  width: fit-content;
} */

.attribute-title {
  font-size: 20px;
  color: var(--accent-color);
  text-shadow: 0 0 5px var(--accent-color);
  margin-bottom: 5px;
}

.attribute-table {
  /* width: fit-content; */
  width: 100%;
  font-size: 20px;
  color: var(--accent-color);
  text-shadow: 0 0 5px var(--accent-color);
  border: 2px solid var(--accent-color);
  border-collapse: collapse;
  box-shadow: 0 0 5px var(--accent-color);
  /* text-transform: uppercase; */
}

.attribute-table td,
.attribute-table th {
  padding: 5px;
}

.attribute-table th:not(:last-child) {
  padding-right: 20px;
}

.attribute-table thead {
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
  color: var(--background-color);
  text-shadow: 0 0 2px var(--background-color);
}

.attribute-table tr > td:first-child {
  text-align: start;
}

.attribute-table tr > td:nth-child(2) {
  text-align: end;
}

.attribute-value {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.attribute-tooltip {
  cursor: pointer;
  position: relative;
}

.attribute-tooltip-text {
  opacity: 0;
  transition: all 0.8s;
  position: absolute;
  background: var(--background-color);
  width: fit-content;
  padding: 5px;
  border: 2px solid var(--accent-color);
  transition: opacity 2s;
}

.attribute-tooltip:active .attribute-tooltip-text {
  visibility: visible;
  opacity: 1;
  transition: opacity 0s;
}
