.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.modal-container {
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  cursor: default;
  min-height: 500px;
  min-width: 700px;
  z-index: 2;
}

.modal-title {
  background: var(--accent-color);
  color: var(--background-color);
  text-shadow: 0 0 2px var(--background-color);
  font-size: 20px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.modal-title-close {
  cursor: pointer;
  padding: 0 5px;
}
