.effects-list {
  text-align: start;
  color: var(--accent-color);
  text-shadow: 0 0 5px var(--accent-color);
  border: 2px solid var(--accent-color);
  padding: 5px;
}

.effects-name, .effects-name a {
  color: black;
  text-shadow: 0 0 2px var(--background-color);
  background: var(--accent-color);
  padding: 5px;
  font-size: 20px;
  width: fit-content;
}

.effects-name-container {
  border-bottom: 2px solid var(--accent-color);
  margin-bottom: 10px;
}

.effect-item:not(:last-child) {
  margin-bottom: 15px;
}

.effects-title {
  font-size: 20px;
  color: var(--accent-color);
  text-shadow: 0 0 5px var(--accent-color);
  margin-bottom: 5px;
}

.effect-description {
  white-space-collapse: break-spaces;
  line-height: 1.5;
}
