@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Sixtyfour&display=swap');

:root {
  --accent-color: #f00;
  --background-color: #000;
}

body {
  margin: 0;
  color: #fff;
  font-family: 'Sixtyfour', monospace;
  background: var(--background-color);
}

.content {
  display: flex;
  min-height: 100vh;
  line-height: 1.1;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.content > table {
  margin: 10px;
}

.sheet-title {
  color: var(--accent-color);
  text-shadow: 0 0 15px var(--accent-color);
}

.sheet-title-ascci {
  white-space-collapse: break-spaces;
  font-family: monospace;
  /* text-align: start; */
  font-weight: bold;
  font-size: 15px;
}

.sheet {
  display: flex;
  margin: 20px;
}

.sheetcol {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
  flex: 1;
}

.sheetcol:first-child .attribute-container:not(:last-child) {
  margin-bottom: 10px;
}